.first ul {
    background-image: url(images/bg.png);
}

.loop {
    background-position: right 900px;

}

.first li {
    display: inline-block;
}

.submenu {
    display: none;
    margin-top: 16.5px;
    margin-bottom: 16.5px;
}

.hover:hover > .submenu {
    display: block;
    position: absolute;
}

nav {
    margin-top: 25px;
    margin-bottom: 25px;
    display: inline-block;
}

h1 {
    margin-top: 50px;
    font-family: "Roboto";
    color: #505050;
    font-size: 5em;
}

.container {
    margin: auto;
    width: 70%;
    margin-top: 25px;
}

footer, ul, h2 { 
    display: inline-block;
}

footer ul {
    width: 20%;
}

/* 
footer h2 {
    width: 25%;
} */

footer {
    width: 994px;
    height: 235px;
    margin-top: 75px;
    background-image: url(images/bg.png);
}

ul {
    padding-left: 2em;
    vertical-align: top;
    margin-top: 1em;
}

h4 {
    margin-bottom: 30px;
    margin-top: 22px;
    color: #A6A6A6;
}

h2 {
    margin-top: 0.5em;
}

footer h2 {
    padding-bottom: 2em;
    color: black;
}

.middle {
    /* background-color: lightblue; */
    height: 40px;
    margin-top: 2em;
}

nav {
    /* background-color: lightblue; */
    height: 59px;
    width: 900px;
   
}
.first li {
    padding-left: 1em;
}

h2, h3, h4 {
    font-family: "Helvetica";
}

/* .first ul, footer {
    background-image: url(images/bg.jpg);
} */

h2, li, main p {
    color: #606060;
}

main h2 {
    color: black;
    font-size: 2em;
}

.submenu li {
    display: block;
    height: 33px;
    padding: 0.2em;
}

.loop {
    float: right;
}

@media screen and (min-width: 600px) {
    header {
        background-color: red;
    }
}

@media screen and (min-width: 900px) {
    nav {
        display: none;
    }
}
@media screen and (min-width: 900px) {
    .fas {
        float: right;
        }
}

