/* .first ul {
    display: inline-block;
} */

.first li {
    display: inline-block;
}

.submenu {
    display: none;
}

.hover:hover > .submenu {
    display: block;
    position: absolute;
}

nav {
    margin-top: 25px;
    margin-bottom: 25px;
    display: inline-block;
}

h1 {
    margin-top: 50px;
}

.container {
    margin: auto;
    width: 70%;
    margin-top: 25px;
}

footer, ul, h2 { 
    display: inline-block;
}

footer ul {
    width: 20%;
}

/* 
footer h2 {
    width: 25%;
} */

footer {
    width: 994px;
    height: 235px;
    margin-top: 75px;
}

ul {
    padding-left: 2em;
    vertical-align: top;
    margin-top: 1em;
}

h4 {
    margin-bottom: 30px;
    margin-top: 22px;
}

h2 {
    margin-top: 0.5em;
}

footer h2 {
    padding-bottom: 2em;
}

.middle {
    background-color: lightblue;
    height: 40px;
    margin-top: 2em;
}

nav {
    background-color: lightblue;
    height: 59px;
    width: 900px;
   
}
.first li {
    padding-left: 1em;
}